<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hanking.pr.parkingStatus.mapper.ParkingStatusMapper">
	<cache />
	
    <select id="findAll" resultMap="com.hanking.pr.parkingStatus.pojo.ParkingStatus">
    
      select  * from parking_status
     
    </select>
	
</mapper>